/* Styling for the Header of the site */

.header {
  text-align: center;
}

.logo {
  width: 45%;
  height: 25%;
}

.navBtn {
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  background-color: #fe923c;
  color: black;
  border-radius: 10px;
  padding: 3px 10px;
}

.navBtn:hover {
  background-color: #f01731;
  color: black;
  cursor: pointer;
}
