.header {
  text-align: center;
}

.logo {
  width: 75%;
  height: 400px;
}

.navBtn {
  margin: 5px;
  font-size: 20px;
  font-weight: 300;
  background-color: #fe923c;
  color: black;
  border-radius: 10px;
  padding: 3px 10px;
}

.navBtn:hover {
  background-color: #f01731;
  color: black;
  cursor: pointer;
}
