.menu {
  text-align: center;
}

.rowMenu {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  flex: 1;
  margin: 5px;
  border-radius: 10px;
}

.menuHead {
  background-color: #fbd728;
}

.menuHeaders {
  background-color: #9ecb3a;
  color: black;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

.menuItems {
  background-color: #035999;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.menuItem {
  margin: 10px;
}

.pizzaImages {
  display: flex;
  width: 33%;
  height: 250px;
  margin: auto;
  display: inline-flex;
}
